.about_page {
    position: relative;

    .about_strokeimg {
        position: absolute;
        top: 5rem;
        left: 0;

        @include media-breakpoint-down(xl)  {
            display: none;
        }

    }

    .about_company {
        .about_head {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 8rem;
            margin-top: 5rem;

            @include media-breakpoint-down(lg) {
                gap: 4rem;
                flex-direction: column;
            }

            .stroke_wrapper {
                width: 100%;
                .stroke {
                    position: relative;
                    padding-left: 4.2rem;

                    @include media-breakpoint-down(xl) {
                        padding-left: 0;
                    }

                    h2 {
                        font-size: 5rem;
                        line-height: 6.4rem;
                        font-weight: $bold;
                        color: $black;
                        position: relative;
                        z-index: 9;
                    }
                    img {
                        position: absolute;
                        left: 4.2rem;
                        bottom: 0;

                        @include media-breakpoint-down(xl) {
                            left: 0;
                        }

                        @include media-breakpoint-down(md) {
                            max-width: 300px;
                            width: 100%;
                        }

                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        max-width: 300px;

                    }
                }
    
                .stroke_p {
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    font-weight: $regular;
                    color: rgba(0, 0, 0 , .7);
                    margin-top: 3.8rem;
                    margin-left: 15rem;
                    max-width: 33.7rem;
                    width: 100%;

                    @include media-breakpoint-down(xl) {
                        margin-left: 0;
                        max-width: 100%;
                    }

                }

                .paragraph2 {
                    margin-top: 25.5rem;
                    width: 100%;

                    @include media-breakpoint-down(xl) {
                        margin-top: 3rem;
                    }

                }

                .hidden_image {
                    display: none;

                    @include media-breakpoint-down(xl) {
                        display: flex;
                        justify-content: center;
                        margin-top: 4rem;
                    }

                }


            }




            .content {
                max-width: 42.7rem;
                width: 100%;
                margin-top: 10rem;

                @include media-breakpoint-down(lg)  {
                    max-width: 100%;
                    margin-top: 2rem;
                }

                p {
                    font-size: 1.6rem;
                    line-height: 2.5rem;
                    color: rgba(0, 0, 0 , .7);
                    font-weight: $regular;
                }

                .about_image2 {
                    margin-top: 6rem;

                    @include media-breakpoint-down(lg)  {
                        max-width: 50rem;
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }

                }

            }

        }
    }

    .ceo_section {
        padding: 10rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        @include media-breakpoint-down(lg)  {
            padding: 5rem 0;
            flex-direction: column-reverse;
        }

        .ceo_image {
            max-width: 50rem;
            width: 100%;

            img {
                width: 100%;
            }
        }


        .ceo_details {
            max-width: 49rem;
            width: 100%;

            @include media-breakpoint-down(lg)  {
                max-width: 90%;
            }

            h2 {
                font-size: 5rem;
                line-height: 6.4rem;
                font-weight: $bold;
                color: $black;
            }

            p {
                font-size: 1.6rem;
                line-height: 2.5rem;
                color: #232323;
                font-weight: $regular;
                margin-top: 2rem;
            }

            h4 {
                font-size: 2.5rem;
                font-weight: $semibold;
                color: $black;
                margin-top: 3rem;
            }
            h5 {
                font-size: 2rem;
                font-weight: $medium;
                color: #232323;
                margin-top: 1.2rem;
            }


        }

    }

    .why_choose_section {
        padding: 10rem 0;
        background-color: #1B3988;

        @include media-breakpoint-down(lg) {
            padding: 5rem 0;
        }

        .why_choose {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 6rem;

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                gap: 4rem;
            }

            .why_chooseContent {
                max-width: 46.7rem;
                width: 100%;

                @include media-breakpoint-down(lg) {
                    max-width: 100%;
                }

                h2 {
                    font-size: 5rem;
                    line-height: 6.4rem;
                    font-weight: $bold;
                    color: $white;
                }
    
                p {
                    font-size: 1.6rem;
                    font-weight: $regular;
                    color: $white;
                    margin-top: 2rem;
                }
    
            }

            .why_chooseImg {
                max-width: 53.7rem;
                width: 100%;

                img {
                    width: 100%;
                }

            }
        }

        .whychoose_description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 7rem;
            margin-top: 11.5rem;

            @include media-breakpoint-down(lg) {
                flex-direction: column-reverse;
                margin-top: 5rem;
                gap: 6rem;
            }

            .whychoose_content2 {
                max-width: 68.2rem;
                width: 100%;

                @include media-breakpoint-down(lg)  {
                    max-width: 100%;
                }

                p {
                    font-size: 1.6rem;
                    font-weight: $regular;
                    line-height: 2.5rem;
                    color: $white;
                }
            }

            .whychooseimg2 {
                max-width: 36.3rem;
                width: 100%;
            }



        }

    }   

    .vision_section {
        padding: 10rem 0;

        .vision_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

           .vision_content {
            max-width: 43.6rem;
            width: 100%;
            h3 {
                font-size: 5rem;
                line-height: 6.4rem;
                color: $black;
                font-weight: $bold;
            }
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: #232323;
                margin-top: 2rem;
            }
           }

           
           .vision_img {
                max-width: 39.7rem;
                width: 100%;
            img {
                width: 100%;
            }
           }
           
           

        }

        .mission_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            margin-top: 4rem;

            @include media-breakpoint-down(md) {
                flex-direction: column-reverse;
            }

           .vision_content {
            max-width: 43.6rem;
            width: 100%;
            h3 {
                font-size: 5rem;
                line-height: 6.4rem;
                color: $black;
                font-weight: $bold;
            }
            p {
                font-size: 1.6rem;
                font-weight: $regular;
                color: #232323;
                margin-top: 2rem;
            }
           }

           
           .vision_img {
                max-width: 39.7rem;
                width: 100%;
            img {
                width: 100%;
            }
           }
           
           

        }

    }



}



.innear_header {
   header {
    position: relative;
    background-color: white;

    &:after {
        display: none;
    }

   }
}