.BlogDetails_page {
    

    .blog_banner {
        background-image: url(../images/blogDetails_banner.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 54.8rem;
        position: relative;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0, 0, 0 , .6);
        }

        h3 {
            font-size: 6rem;
            font-weight: $bold;
            color: $white;
            position: relative;
            z-index: 9;
            max-width: 76.1rem;
            width: 100%;
            margin: auto;
            text-align: center;

            @include media-breakpoint-down(sm)  {
                font-size: 5rem;
            }
        }
    }

    .blog_contents {
        padding-top: 5rem;

        .blog_subWrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2.8rem;
            padding: 5rem 0;

            @include media-breakpoint-down(sm)  {
                flex-direction: column;
            }

            .blog_sub {
                width: calc(100% / 2 - 1.2rem);

                @include media-breakpoint-down(sm)  {
                    width: 100%;
                }
                

                img {
                    width: 100%;
                }
            }

        }

        .prev_next_Blogs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            padding: 1.5rem;
            border: 1px solid #A6A6A6;
            margin-top: 5rem;

         

            .prev_blog {
                display: flex;
                align-items: center;
                gap: 3rem;

                h6 {
                    font-weight: $regular;
                    font-size: 1.6rem;
                    color: $black;
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;
                }

                .prev_blog {
                    img {
                        max-width: 8.7rem;
                        height: 10.7rem;
                        width: 100%;
                    }
                }

            }
        }

    }

    .map_wrapper {
        margin-top: 10rem;

        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
        }
        img {
            width: 100%;
            object-fit: cover;

            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }


        }
        iframe {
            width: 100%;
            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }
        }
    }

}