

.blog_Page {
    padding-top: 5rem;
    .contact_wrapper {
        .contact_head {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 5rem;
            position: relative;
            padding-bottom: 60px;

            @include media-breakpoint-down(lg)  {
                flex-direction: column;
            }

           

            .contact_stroke {
                max-width: 39.7rem;
                width: 100%;
                position: relative;

                h2 {
                    font-weight: $bold;
                    font-size: 5rem;
                    line-height: 6.4rem;
                    position: relative;
                    z-index: 9;
                }

                img {
                    position: absolute;
                    bottom: -30px;
                    left: 0;
                    // width: 100%;
                }

                .vector_truck {
                    position: absolute;
                    bottom: -30px;
                    width: 100%;
                    left: -140px !important;
                    height: 100%;
    
                    img {
                        position: unset !important;
                    }

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
                

            }

            p {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: $regular;
                color: rgba(0, 0, 0 , .7);
                max-width: 63.2rem;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;  
                position: relative;
                z-index: 9;
                overflow: hidden;
            }

          

        }

        .certificate_wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            column-gap: 2.1rem;
            row-gap: 2.1rem;
            flex-wrap: wrap;
            padding-top: 5rem;

          

            li {
                width: calc(100% / 3 - 1.4rem);
                align-self: stretch;
                overflow: hidden;

                @include media-breakpoint-down(lg) {
                    width: calc(100% / 2 - 1.4rem);
                }

                @include media-breakpoint-down(sm)  {
                    width: 100%;
                }

                .blog_image {
                    img {
                        width: 100%;
                    }
                }

                .blog_contents {
                    background-color: #FEEFEB;
                    padding: 3rem;
                    height: 100%;

                    @include media-breakpoint-down(lg)  {
                        padding: 2rem;
                    }

                    h6 {
                        font-weight: $medium;
                        font-size: 1.4rem;
                        color: #464444;
                    }
                    h2 {
                        font-size: 2rem;
                        font-weight: $semibold;
                        margin-top: 1rem;
                        color: $black;
                    }
                    p {
                        font-size: 1.6rem;
                        font-weight: $regular;
                        margin-top: 1.7rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        transition: .3s ease-in-out;

                        &.show {
                            display: -webkit-box;
                        -webkit-line-clamp: unset;
                        -webkit-box-orient: vertical;  
                        overflow: visible;
                        transition: .3s ease-in-out;
                        }
                    }

                  

                    span {
                        font-weight: $bold;
                        font-size: 1.6rem;
                        color: $black;
                        margin-top: .8rem;
                        cursor: pointer;
                        position: relative;
                        z-index: 9;
                    }

                }
             

                

            }
        }




    }

    .map_wrapper {
        margin-top: 10rem;

        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
        }
        img {
            width: 100%;
            object-fit: cover;

            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }


        }
        iframe {
            width: 100%;
            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }
        }
    }

}

