.certificate_page {
    padding-top: 5rem;

    .contact_wrapper {
        .contact_head {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 5rem;

            @include media-breakpoint-down(lg)  {
                flex-direction: column;
            }

            .contact_stroke {
                max-width: 39.7rem;
                width: 100%;
                position: relative;

                h2 {
                    font-weight: $bold;
                    font-size: 5rem;
                    line-height: 6.4rem;
                    position: relative;
                    z-index: 9;
                }

                img {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                }

            }

            p {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: $regular;
                color: rgba(0, 0, 0 , .7);
                max-width: 63.2rem;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

        }

        .certificate_wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            column-gap: 3.4rem;
            row-gap: 5rem;
            flex-wrap: wrap;
            padding-top: 5rem;

            @include media-breakpoint-down(md)  {
                column-gap: 2.4rem;
            }

            li {
                width: calc(100% / 3 - 2.4rem);

                @include media-breakpoint-down(md) {
                    width: calc(100% / 2 - 1.4rem);
                }

                .certificate_img {
                    img {
                        width: 100%;
                    }
                }

                h6 {
                    font-size: 2rem;
                    font-weight: $bold;
                    color: #15282F;
                    margin-top: 2rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }

                p {
                    margin-top: 1rem;
                    font-size: 1.4rem;
                    font-weight: $regular;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }

            }
        }




    }

    .map_wrapper {
        margin-top: 10rem;

        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
        }
        img {
            width: 100%;
            object-fit: cover;

            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }


        }
        iframe {
            width: 100%;
            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }
        }
    }

}