.contact_Page {
    padding-top: 5rem;

    .contact_wrapper {
        .contact_head {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 5rem;

            @include media-breakpoint-down(lg)  {
                flex-direction: column;
            }

            .contact_stroke {
                max-width: 39.7rem;
                width: 100%;
                position: relative;

                h2 {
                    font-weight: $bold;
                    font-size: 5rem;
                    line-height: 6.4rem;
                    position: relative;
                    z-index: 9;
                }

                img {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                }

            }

            p {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: $regular;
                color: rgba(0, 0, 0 , .7);
                max-width: 63.2rem;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

        }

        .contct_formwrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6rem;
            margin-top: 5rem;

            @include media-breakpoint-down(xl) {
                flex-direction: column;
            }

            .contact_form {
                max-width: 53.3rem;
                width: 100%;
                form {
                    h3 {
                        font-size: 5rem;
                        line-height: 6.4rem;
                        color: #242323;
                        font-weight: $bold;
                    }
                    p {
                        margin-top: 2.1rem;
                        color: #403F3F;
                    }

                    .iput_group {
                        margin-top: 4rem;

                        .multi_inputs {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 2.1rem;

                            .input_parent {
                                width: calc(100% / 2 - 1.1rem);
                            }
                        }

                        .input_parent {
                            position: relative;
                            margin-top: 2.2rem;
                            input {
                                padding: 1.5rem 0; 
                                height: 4.7rem;
                                color: $black;
                                font-weight: $medium;
                                border: none;
                                width: 100%;
                                transition: .3s ease-in-out;
                                border-bottom: 1px solid #969696;
                                font-size: 1.4rem;

                                &:focus {
                                    outline: none;
                                    transition: .3s ease-in-out;
                                    border-bottom: 1px solid $primary;
                                }

                            }
                            textarea {
                                padding: 1.5rem 0; 
                                min-height: 7.4rem;
                                color: $black;
                                font-weight: $medium;
                                border: none;
                                width: 100%;
                                border-bottom: 1px solid #969696;
                                font-size: 1.4rem;
                            }
                        }
                    }

                    .terms_policy {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 1.1rem;
                        margin-top: 2.2rem;

                        input {
                            width: 2.2rem;
                            cursor: pointer;
                            height: 2.2rem;
                            border-radius: 4px;
                            accent-color: $primary;
                        }
                        p {
                            font-size: 1.4rem;
                            font-weight: $regular;
                            color: $black;
                            margin-top: 0 !important;
                        }

                    }

                    .primary_btn {
                        margin-top: 3rem;

                        span {
                            text-align: start;
                        }
                    }
                }
            }

            .contact_form_img {
                max-width: 54.5rem;
                width: 100%;

                img {
                    width: 100%;

                    @include media-breakpoint-down(md) {
                        height: 350px;
                        object-fit: cover;
                    }
                }
            }



        }
    }

    .map_wrapper {
        margin-top: 10rem;

        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
        }
        img {
            width: 100%;
            object-fit: cover;

            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }


        }
        iframe {
            width: 100%;
            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }
        }
    }

}