html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 9px
  }

  @media (max-width: 576px) {
    font-size: 50%; // 1rem = 8px
  }

  scroll-behavior: smooth;
}

main {
  position: relative;
}










body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Lato";
}

.Lato {
  font-family: "Lato";
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

section {
  max-width: 100vw;
}

ul {
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 114px;
  max-width: 1366px;

  @include media-breakpoint-down(xl) {
    padding: 0 60px;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 16px;
  }
}

label {
  margin: 0;
  padding: 0;
}

button {
  text-transform: capitalize;

  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.heading {
  font-size: 5rem;
  line-height: 6.4rem;
  font-weight: $bold;
  color: $black;
}

.sub_heading {
  font-size: 1.8rem;
  font-weight: $semibold;
  color: $primary;
}

p {
  font-weight: $regular;
  font-size: 1.6rem;
  color: #2F2E2E;
  line-height: 2.6rem;
}

.paragraph {
  font-weight: $regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #787878;
  margin-top: 2rem;
}

.sub_heading {
  font-size: 2rem;
  font-weight: $medium;
  color: #787878;
}

.is-sticky {
  position: fixed;
  top: 0;
  transition: 0.1s ease-in-out;
  z-index: 95;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.35s ease-out;
  width: 100%;
  // backdrop-filter: blur(10px);
  background-color: $white;
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.primary_btn {
  width: 15.8rem;
  height: 5rem;
  padding: 1.2rem 2.5rem;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 0.3s ease-in-out;
  z-index: 9;

  span {
    font-weight: $semibold;
    font-size: 1.6rem;
    color: $secondary;
    position: relative;
    z-index: 10;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 50%;
    transform: translateX(0%);
    width: 100%;
    left: 20px;
  }

  &:after {
    background-color: $secondary;
    content: "";
    position: absolute;
    height: 5rem;
    width: 10px;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    span {
      color: $white;
      transition: 0.3s ease-in-out;
      transform: translateX(25%);
      left: 0;
    }

    &:after {
      width: 100%;
      transition: 0.3s ease-in-out;
    }
  }
}



.secondary_btn {
  max-width: 14.5rem;
  width: 100%;
  height: 5rem;
  background-color: $primary;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: $medium;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(lg) {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
  }
}




// header

header {
  transition: 0.1s ease-in-out;
  padding: 2rem 0 0 0;
  position: relative;
  background-color: transparent;
  z-index: 95;
  position: absolute;
  top: 0;
  width: 100%;

  &:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 9.38%, rgba(47, 47, 47, 0.564) 49.14%, rgba(102, 102, 102, 0) 96.08%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 181px;
  }

  .page_header {
    position: relative;
    z-index: 9;

    .header_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc9c9;

      .logo {
        a {
          img {
            max-width: 19rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
              max-width: 16rem;
            }
          }
        }
      }

      .navbar_btnWrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4rem;

        @include media-breakpoint-down(lg) {
          gap: 2rem;
        }

        .nav_bar {
          @include media-breakpoint-down(md) {
            position: fixed;
            top: 0;
            width: 100%;
            background: white;
            right: 0;
            left: 0;
            z-index: 99;
            height: 100vh;
            transform: translateY(-100%);
            transition: 0.3s ease-in-out;
          }

          &.active_menu {
            transform: translateY(0);
            transition: 0.3s ease-in-out;
          }

          ul {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 4rem;

            @include media-breakpoint-down(lg) {
              gap: 2rem;
            }

            @include media-breakpoint-down(md) {
              gap: 5rem;
              flex-direction: column;
              align-items: center;
              height: 100vh;
              justify-content: center;
            }

            li {
              display: flex;
              align-items: center;
              gap: 2px;

              a {
                color: $white;
                font-weight: $medium;
                font-size: 1.8rem;
                position: relative;
                white-space: nowrap;

                @include media-breakpoint-down(lg) {
                  font-size: 1.4rem;
                }

                &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 0%;
                  content: "";
                  color: transparent;
                  background: $primary;
                  height: 1px;
                  transition: 0.3s ease;
                }

                &:hover {
                  color: $primary;
                  transition: 0.3s ease;

                  &:after {
                    width: 100%;
                    transition: 0.3s ease;
                  }
                }
              }
            }
          }
        }

        .contact_btn {
          max-width: 17.3rem;
          width: 100%;

          @include media-breakpoint-down(md) {
            display: flex;
            justify-content: end;
          }

          .secondary_btn {
            position: relative;
            // @include media-breakpoint-down(md) {
            //   display: none;
            // }

            span {
              font-size: 1.6rem;
              line-height: 2rem;
              font-weight: $medium;
              color: $white;
            }

            &:after {
              content: "";
              position: absolute;
              width: 0;
              transition: .3s ease-in-out;
              left: 0;
              top: 0;
              height: 100%;
              background-color: $white;
            }

            &:hover {
              span {
                color: $primary;
                z-index: 9;
                font-weight: $semibold;
              }


              &:after {
                width: 100%;
                transition: .3s ease-in-out;
              }

            }
            



          }

          .toggle {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            display: none;
            z-index: 99;

            @include media-breakpoint-down(md) {
              display: flex;
            }

            span {
              position: absolute;
              width: 40px;
              height: 2.5px;
              background: #23b5b5;
              border-radius: 10px;
              transition: 0.5s;

              &:nth-child(1) {
                transform: translateY(-10px);
                width: 25px;
                left: 5px;
              }

              &:nth-child(2) {
                transform: translateY(10px);
                width: 15px;
                left: 5px;
              }
            }
          }

          .toggle.active {
            span {
              &:nth-child(1) {
                width: 30px;
                transform: translateY(0) rotate(45deg);
                transition-delay: 0.125s;
              }

              &:nth-child(2) {
                width: 30px;
                transform: translateY(0) rotate(315deg);
                transition-delay: 0.25s;
              }

              &:nth-child(3) {
                transform: translateX(60px);
              }
            }
          }

          .primary_btn {
            gap: 1rem;
          }
        }
      }
    }
  }
}

// header end

// footer

footer {
  position: relative;
  z-index: 8;
  background: $secondary;
  padding-top: 10rem;

  .contact_formWrapper {
    position: relative;

    .form_particle {
      position: absolute;
      left: 0;
      top: 13px;
    }

    .form_wrapper {
      display: flex;
      justify-content: center;
      gap: 13rem;

      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
        padding-bottom: 0;
        align-items: center;
        gap: 5rem;
      }

      .contact_image {
        @include media-breakpoint-down(lg) {
          max-width: unset;
          width: unset;
        }

        img {
          @include media-breakpoint-down(lg) {
            width: unset;
          }

          @include media-breakpoint-down(sm) {
            width: 100%;
          }
        }
      }

      .contact_form {
        max-width: 51.5rem;
        width: 100%;
        position: relative;
        z-index: 9;
        form {
          width: 100%;
          h3 {
            font-size: 4rem;
            line-height: 4.8rem;
            font-weight: $bold;
            color: $white;
          }

          .input_group {
            margin-top: 3rem;

            input {
              font-size: 1.6rem;
              font-weight: $medium;
              line-height: 2.4rem;
              color: #cfcbcb;
              padding-bottom: 1.5rem;
              border: none;
              border-bottom: 1px solid #ede9e9;
              background-color: transparent;
              text-transform: capitalize;
              width: 100%;

              &::placeholder {
                color: #cfcbcb;
                font-weight: $medium;
                text-transform: capitalize;
              }

              &:focus {
                outline: none;
              }
            }

            textarea {
              font-size: 1.6rem;
              font-weight: $medium;
              line-height: 2.4rem;
              color: #cfcbcb;
              padding-bottom: 1.5rem;
              border: none;
              border-bottom: 1px solid #ede9e9;
              background-color: transparent;
              width: 100%;
              text-transform: capitalize;
              min-height: 7rem;

              &::placeholder {
                font-weight: $medium;
                color: #cfcbcb;
                text-transform: capitalize;
              }

              &:focus {
                outline: none;
              }
            }
          }

          .button_wrapper {
            margin-top: 2.6rem;
            button {
              max-width: 14.8rem;
              width: 100%;
              height: 5rem;
              padding: 1.2rem 2.5rem;
              background-color: transparent;
              width: 100%;
              border: none;
              position: relative;
              display: flex;
              justify-content: start;
              align-items: center;
              transition: 0.3s ease-in-out;
              z-index: 9;

              span {
                font-weight: $semibold;
                font-size: 1.6rem;
                color: $white;
                position: relative;
                z-index: 10;
                transition: 0.3s ease-in-out;
                position: absolute;
                right: 50%;
                transform: translateX(0%);
              }

              &:after {
                background-color: $white;
                content: "";
                position: absolute;
                height: 5rem;
                width: 10%;
                left: 0;
                top: 0;
                transition: 0.3s ease-in-out;
              }

              &:hover {
                span {
                  color: $black;
                  transition: 0.3s ease-in-out;
                  transform: translateX(50%);
                }

                &:after {
                  width: 100%;
                  transition: 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagefooter {
    background-color: #262626;
    .main_footerWrapper {
      display: flex;
      justify-content: start;
      align-items: start;

      @include media-breakpoint-down(lg) {
        flex-wrap: wrap;
      } 

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        padding-left: 2rem;
      } 

      .quick_links {
        border-right: 1px solid #413e3e;
        align-self: stretch;
        padding: 3.9rem 5rem 1.9rem 5rem;

        @include media-breakpoint-down(xl) {
          padding: 3.9rem 3rem 1.9rem 3rem;
        }

        @include media-breakpoint-down(lg) {
          border-right: none;
        }

        @include media-breakpoint-down(md) {
          padding: 3.9rem 2rem 1.9rem 2rem;
        }

        @include media-breakpoint-down(sm) {
          padding: 2.9rem 0 1.9rem 0;
        }

        h3 {
          font-size: 2rem;
          font-weight: $semibold;
          color: $white;
          margin-bottom: 2.9rem;
        }

        .quicklink_wrapper {
          display: flex;
          justify-content: start;
          align-items: start;
          gap: 8.3rem;

          ul {
            li {
              &:not(:first-child) {
                margin-top: 2rem;
              }
              a {
                font-size: 1.6rem;
                font-weight: $medium;
                color: $white;
                position: relative;

                &:hover {
                  color: $primary;
                  transition: 0.3s ease-in-out;

                  &:after {
                    width: 100%;
                    transition: 0.3s ease-in-out;
                  }
                }

                &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 0%;
                  content: "";
                  color: transparent;
                  background: $primary;
                  height: 1px;
                  -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
                }
              }
            }
          }
        }
      }

      .logo_wrapper {
        border-right: 1px solid #413e3e;
        align-self: stretch;
        padding: 3.9rem 5rem 1.9rem 0;

        @include media-breakpoint-down(xl) {
          padding: 3.9rem 3rem 1.9rem 0;
        }

        @include media-breakpoint-down(lg) {
          border-right: none;
          padding: 3.9rem 3rem 1.9rem 3rem;
        }

        @include media-breakpoint-down(md) {
          padding: 3.9rem 2rem 1.9rem 2rem;
        }

        @include media-breakpoint-down(sm) {
          padding: 3.9rem 0 1.9rem 0;
        }



        p {
          font-weight: $regular;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: $white;
          margin-top: 2rem;
          max-width: 35.1rem;
          width: 100%;
          text-transform: capitalize;

          @include media-breakpoint-down(sm) {
            line-height: 3rem;
          }

        }
      }

      .contact_links {
        align-self: stretch;
        padding: 3.9rem 0 1.9rem 5rem;

        @include media-breakpoint-down(xl) {
          padding: 3.9rem 0 1.9rem 3rem;
        }

        @include media-breakpoint-down(md) {
          padding: 3.9rem 0 1.9rem 2rem;
        }

        @include media-breakpoint-down(sm) {
          padding: 2.9rem 0 1.9rem 0;
        }
        

        

        h3 {
          font-size: 2rem;
          font-weight: $semibold;
          color: $white;
          margin-bottom: 2.9rem;
        }
        ul {
          li {
            font-size: 1.6rem;
            font-weight: $medium;
            color: $white;

            &:not(:first-child) {
              margin-top: 2rem;
            }
            a {
              font-size: 1.6rem;
              font-weight: $medium;
              color: $white;
              position: relative;

               &:hover {
                  color: $primary;
                  transition: 0.3s ease-in-out;

                  &:after {
                    width: 100%;
                    transition: 0.3s ease-in-out;
                  }
                }

                &:after {
                  position: absolute;
                  bottom: -5px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 0%;
                  content: "";
                  color: transparent;
                  background: $primary;
                  height: 1px;
                  -webkit-transition: 0.3s ease;
                  transition: 0.3s ease;
                }
            }
          }
        }
      }
    }
  }

  .sub_footer {
    border-top: 1px solid #413e3e;
    padding: 2rem 0 3rem 0;
    background-color: #262626;

    .sub_footerContents {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
      }

      .copy_right {
        font-size: 1.2rem;
        font-weight: $regular;
        color: $white;
      }

      .social_medias {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3.3rem;

      li {
        svg {
          path {
            transition: .3s ease-in-out;
          }
        }
        &:hover {
          svg {
            path {
              fill: $primary;
              transition: .3s ease-in-out;
            }
          }
        }
      }
        

      }
    }
  }
}


.inear_header {
  .header {
    position: relative;
    background-color: $white;

    &::after {
      display: none;
    }

    .secondary_btn {
      &:hover {
        &::after {
          border: 1px solid $primary !important;
        }
      }
    }

    .page_header {
      .logo {
        svg {
          .levage_svg {
            fill: $black;
          }
        }
      }
      .nav_bar {
        ul {
          li {
            a {
              color: $black !important ;
            }

            &:hover {
              a {
                color: $primary !important;
              }
            }
          }
        }
      }
    }

  }
}



// footer end
