
.banner_section {
    overflow-x: hidden;
    .banner_container {
        max-width: 100%;
        padding: 0;
                .banner_slideWrapper {
                    .banner_swiper {
                        .banner_wrapper {
                            width: 100%;
                            height: 65.5rem;
                            background-size: cover;
                            background-position: bottom;
                            background-repeat: no-repeat;
                            background-image: url(../images/banner.png);

                            .banner_contents {
                                max-width: 49.1rem;
                                width: 100%;
                                padding-top: 20.1rem;

                                h1 {
                                    font-size: 5rem;
                                    line-height: 6.4rem;
                                    color: #070707;
                                    font-weight: $bold;
                                }

                                p {
                                    font-size: 1.6rem;
                                    line-height: 2.2rem;
                                    color: #2F2E2E;
                                    font-weight: $regular;
                                    margin-top: 2rem;
                                }

                                .banner_framevideo {
                                    max-width: 28rem;
                                    width: 100%;
                                    height: 15rem;
                                    border-radius: 1.5rem;
                                    margin-top: 6rem;
                                    position: relative;
                                    overflow: hidden;

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0, 0, 0 , .3);
                                    }

                                    .youtube_btn {
                                        position: absolute;
                                        bottom: 1.5rem;
                                        right: 1.5rem;
                                        z-index: 9;
                                        cursor: pointer;
                                    }

                                }

                            }

                        }

                        .banner_dotContainer {
                            position: absolute;
                            bottom: 4.6rem;
                            z-index: 9;
                            right: 0;
                            #banner_dots {
                                position: unset;
                                display: flex;
                                justify-content: end;
                                gap: 3rem;
    
                                .swiper-pagination-bullet {
                                    width: 8px;
                                    height: 8px;
                                    background-color: $white;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
    }
}

.about_section {
    padding-top: 10rem;
    position: relative;
    padding-bottom: 37.8rem;


    @include media-breakpoint-down(lg) {
        padding-top: 6rem;
    }

    @include media-breakpoint-down(sm) {
        padding-bottom: 25rem;
    }

    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url(../images/about_shade.png);
        background-repeat: no-repeat;
        bottom: 0;
        background-position-y: bottom;

        @include media-breakpoint-down(sm) {
            height: 25%;
            background-size: cover;
            background-position-x: center;
        }   



    }

    .about_wrapper {
        display: flex;
        justify-content: start;
        gap: 6.4rem;
        align-items: center;
        position: relative;
        z-index: 9;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        .about_banner {
            max-width: 54.3rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                max-width: 100%;
            }

            h6 {
                font-size: 1.8rem;
                font-weight: $semibold;
                color: $primary;
            }
            h2 {
                margin-top: 1.5rem;
                max-width: 42.9rem;
                width: 100%;
            }

            .about_img {
                margin-top: 3.5rem;

                @include media-breakpoint-down(lg)  {
                    max-width: 55.5rem;
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }

        }
        .about_contents {
            max-width: 50.4rem;
            width: 100%;
            position: relative;
            padding-top: 12rem;

            .masking_image {
                -webkit-mask-image: url(../images/Mask_logo.png);
                mask-image: url(../images/Mask_logo.png);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                mask-size: contain;
                margin-left: 0;
                position: absolute;
                left: -100px;
                top: 0;

                @include media-breakpoint-down(xl) {
                    left: 0;
                }


                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

              }

            p {
                font-weight: $regular;
                font-size: 1.6rem;
                margin-top: 7.2rem;
                color: #2F2E2E;

                @include media-breakpoint-down(xl) {
                    margin-top: 1rem;
                }

            }

            .primary_btn {
                margin-top: 5rem;
            }

        }
    }
}

.capacity_range {
    padding: 10rem 0;

    .capacity_wrapper {
        .capacity_head {
            display: flex;
            justify-content: space-between;
            align-items: end;


            .content {
                .head_tag {
                    position: relative;
                    h2 {
                        font-size: 4rem;
                        font-weight: $semibold;
                        position: relative;
                        z-index: 9;
                    }
                        
                    img {
                        position: absolute;
                        top: -2rem;
                        left: 0;
                    }
                }

                p {
                    max-width: 68.8rem;
                    margin-top: 2rem;
                    width: 100%;
                }
            }
            
        }
    }

}