.testimonials_page {
    padding-top: 5rem;
    .contact_wrapper {
        .contact_head {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 5rem;

            @include media-breakpoint-down(lg)  {
                flex-direction: column;
            }

            .contact_stroke {
                max-width: 39.7rem;
                width: 100%;
                position: relative;

                h2 {
                    font-weight: $bold;
                    font-size: 5rem;
                    line-height: 6.4rem;
                    position: relative;
                    z-index: 9;
                }

                img {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 100%;
                }

            }

            p {
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: $regular;
                color: rgba(0, 0, 0 , .7);
                max-width: 63.2rem;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

        }

        .certificate_wrapper {
            display: flex;
            justify-content: start;
            align-items: center;
            column-gap: 2rem;
            row-gap: 2rem;
            flex-wrap: wrap;
            padding-top: 5rem;

          

            li {
                width: calc(100% / 2 - 1rem);
                padding: 4rem 3rem;
                background-color: #FEEFEB;
                align-self: stretch;

                @include media-breakpoint-down(md)  {
                    width: 100%;
                }
             

                .client_wrapper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.5rem;

                    .client_img {
                        width: 7rem;
                        height: 7rem;
                        border-radius: 50%;
                        
                        img {
                            width: 100%;
                            border-radius: 50%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .client_details {
                        h6 {
                            font-weight: $semibold;
                            font-size: 2rem;
                            color: #102224;
                        }
                        h5 {
                            font-size: 1.6rem;
                            font-weight: $medium;
                            color: #606060;
                            margin-top: .7rem;
                        }
                    }

                }
               

                p {
                    margin-top: 1rem;
                    font-size: 1.4rem;
                    font-weight: $regular;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }

            }
        }




    }

    .map_wrapper {
        margin-top: 10rem;

        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
        }
        img {
            width: 100%;
            object-fit: cover;

            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }


        }
        iframe {
            width: 100%;
            
            @include media-breakpoint-down(md) {
                height: 35rem;
            }
        }
    }

}